NEXT_PUBLIC_URL=https://rubble-app.vercel.app
NEXT_PUBLIC_WEBHOOK_URL=https://rubble-app.vercel.app/api/pay/webhook
NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_PAY_TO_ADDRESS=0x3F3E5e0C853C48641022a3A1D7a8D3E64B5441e0
NEXT_PUBLIC_MIN_PRICE_WEI=1000000000000000

BASE_RPC_URL=https://mainnet.base.org
PAY_TO_ADDRESS=0x3F3E5e0C853C48641022a3A1D7a8D3E64B5441e0
MIN_PRICE_WEI=1000000000000000

FARCASTER_ACCOUNT_HEADER=eyJmaWQiOjEzOTU0MzgsInR5cGUiOiJjdXN0b2R5Iiwia2V5IjoiMHhkMTU2MDljRDU1Njg3YWI5MjY4OTI2YkVFMGNjMThlMUFlMjNEMzRjIn0
FARCASTER_ACCOUNT_PAYLOAD=eyJkb21haW4iOiJydWJibGUtYXBwLnZlcmNlbC5hcHAifQ
FARCASTER_ACCOUNT_SIGNATURE=VSReLZfOqF8J6+HCpx85zN/c9P5BqX8cMPsngbdmZlcs4mSOZsyJdzzTuJtnJLHLAUihMyWGGzycc+Vj13ALZBw=

BASE_PAY_API_KEY_ID=3c86e00f-c1f2-4c84-a97d-f27feaee4911
BASE_PAY_API_SECRET=SwvZPAuPXJcXUMP+FxIziJ6hK3Mu98KD/IfdPQnk3X3HOtXDCfHHQfnif9H2H3wS4HT6AdKPr0eZVDT6R0ix1w==
BASE_BUILDER_OWNER_ADDRESS=0x3F3E5e0C853C48641022a3A1D7a8D3E64B5441e0
